:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #4d4d4d;
    --purple: rgb(95, 39, 95);
    --lightpurple: rgb(154, 60, 154);
    --neonaqua: rgb(0, 255, 242);
    --darkneonaqua: rgb(0, 144, 137);
    --inverse: #ff8800;
    --darkinverse: #ffe96f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
    background: linear-gradient(var(--lightpurple), var(--neonaqua));
    height: 100%;
}                       

#quiz-title {
    background: linear-gradient(var(--lightpurple), var(--purple));
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 0px 0px 25px 25px;
    border: 5px solid var(--black);
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#start {
    border: 2px solid var(--black);
	padding: 9px;
	font: inherit;
    background: linear-gradient(var(--neonaqua), var(--darkneonaqua));
}


#quiz-block {
    padding: 0px 20% 0px 20%;
   
}

#quiz-question {
    /*visibility: hidden;*/
}
/* this style is used for the UNORDERED LIST */
#multi-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--white);
    border: 5px solid var(--black);
    border-radius: 10px;
    /*visibility: hidden;*/

}
#multi-choice li {
    padding: 5px;
    list-style: none;
}

#A, #B, #C, #D {
    width: fit-content;
    height: fit-content;
    cursor: grab;
    /*visibility: hidden;*/
}

